/*Font*/
#homeScreenAnchorPane, #label1, #label2, #AddContactMainAnchorPane, #AddContactSecondAnchorPane {
    -fx-font-family : "Segoe UI Semibold";
}

/*Color*/
MenuBar {
    -fx-background-color: #2471A3;
    -fx-border-color : #D4E6F1;
}

#homeScreenAnchorPane, #AddContactMainAnchorPane {
	-fx-background-color : #5499C7;
}

#addCategoryBar {
	-fx-border-color : #5499C7;
}

SplitPane {
	-fx-color : #5499C7;
}

#listView, #listView .list-cell, #AddContactSecondAnchorPane {
	-fx-background-color : #EBF5FB;
}

#listView .list-cell:selected {
	-fx-background-color : #A9CCE3;
}

#listView .list-cell:selected .label {
	-fx-text-fill : #2E4053;
}

#detailedView {
	-fx-background-color : #FAFAFA;
}

/*Sizes*/
#addCategoryBar {
	-fx-border-width : 80px 0px 0px 0px;
}

MenuBar {
    -fx-border-width : 0px 0px 2px 0px;
}

#label1, #label2 {
    -fx-label-padding: 0px 0px 0px 5px;
}

#listView .list-cell, #listView .list-cell:selected {
	-fx-font-size : 18;
}

/*Specific*/
.menu-button > .label {
    -fx-text-fill: white;
    -fx-font-weight : bold;
}

.button {
	-fx-background-color : #F5F5F5;
	-fx-border-color: #85C1E9;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.filtreLabel {
	-fx-text-fill: #F5F5F5;
    -fx-font-weight : bold;
}

#notes {/*tester*/
    -fx-wrap-text: True;
    -fx-text-overrun: clip;
    -fx-overflow-x: hidden;/*utile?*/
    -fx-overflow-y: hidden;
}