.Background {
	-fx-background-color : #5499C7;
    -fx-font-family : "Segoe UI Semibold";
}

.ContactPane {
	-fx-background-color : #FFAFA;
}

.ListPane {
	-fx-background-color : #F0F8FF;
}

.BarreMenu {
    -fx-background-color: #2471A3;
    -fx-border-color : #D4E6F1;
    -fx-border-width : 0px 0px 2px 0px;
}

MenuBar Menu {
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.Button {
	-fx-background-color : #F5F5F5;
	-fx-border-color: #85C1E9;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.Text {
	-fx-text-fill: #F5F5F5;
    -fx-font-weight : bold;
}